.Main {
    display: flex;
    flex-direction: column;
    margin: 32px 80px 0px 80px;
}

/* Section AllButtons */
.AllButtons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}
  
.buttons button {
    background-color: #E4E6E7;
    color: #081E34;
    border: none;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 100px;
    height: 40px;
    width: 90px;
    left: 103px;
    padding: 10px 24px 10px;
  
}
  
.Button_plus {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
}
  
.ButtonPlus {
    background-color: #081E34;
    color: white;
    border: none;
    width: 52px;
    height: 52px;
    border-radius: 100px;
    font-size: 24px;
}

/* Section MainContent */

.MainContent {
    display: flex;
    flex-direction: column;
    padding-top: 64px;

}
  
.StateType h1{
    color: #151517;
    font-weight: bold;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}
  
.horizontal-divider {
    margin: 24px 0px 8px 0px;
}

.To-do_list {
    display: flex;
    flex-direction: column;
    
}

.Dots {
    border: none;
    padding: 0;
    margin-right: 14.5px;
}

.Checkbox {
    margin-right: 12px;
    
}

input[type="checkbox"] {
    width: 16px;
    height: 16px;
    accent-color: #712fff;
  }

input[type="checkbox"]:checked + label.task-text {
    text-decoration: line-through;
    color: #959595;
}


.To-do_content {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 16px 0px 16px 0px;
    
}

.ToDoLabel {
    margin: 0;
}
