.App {
  font-family: 'Inter', sans-serif;
  background-color: #F1f1f1 ;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

html {
  background-color: #F1f1f1;
}

.header {
  display: flex;
  flex-direction: column;
  margin: 100px 80px;
  gap: 24px
}

.header h1 {
  color: #151517;
  font-weight: bold;
  font-size: 34px;
  font-weight: 700;
  line-height: 38px;
}

.header p {
  color: #151517;
  font-family: Inter;
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.buttons {
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.buttons button {
  background-color: #E4E6E7;
  color: #081E34;
  border: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  border-radius: 100px;
  height: 40px;
  width: 90px;
  left: 103px;
  padding: 10px 24px 10px;

}

.buttonPlus button{
  border: none;
}

.buttonPlus {
  margin-right: 80px;
}

